<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uidemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".tableActivity">
            
        </activity>
        <activity android:name=".frameActivity">
            
        </activity>
         <activity android:name=".relativeActivity">
            
        </activity>
         <activity android:name=".complexActivity">
            
        </activity>
        <activity android:name=".textviewActivity">
            
        </activity>
        
           <activity android:name=".edittextActivity">
            
        </activity>
        <activity android:name=".seekbarActivity">
            
        </activity>
        
       
        
        <activity android:name=".listviewActivity">
            
        </activity>
        
        <activity android:name=".dateandtimeActivity">
            
        </activity>
        <activity android:name=".imagelistviewActivity">
            
        </activity>
        
        <activity android:name=".autotextviewActivity">
            
        </activity>
         <activity android:name=".progressActivity">
            
        </activity>
        <activity android:name=".ratingActivity">
            
        </activity>
        <activity android:name=".tabActivity">
            
        </activity>
         <activity android:name=".imageswitchActivity">
            
        </activity>
        <activity android:name=".gridviewActivity">
            
        </activity>
         <activity android:name=".galleryActivity">
            
        </activity>
    </application>

</manifest>
